<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="myConnection" connectionString="Data Source=LAPTOP-65KEIST2\SQLEXPRESS;Initial Catalog=hrms_beta_v1;Integrated Security=True" providerName="System.Data.SqlClient" />
  <!--<add name="myConnection" connectionString="Data Source=.;Initial Catalog=hrms_beta_v1;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>